*{
	margin: 0;
}
header, footer, .asidebar1, .asidebar2, .main {
	display: flex;
	text-align:center;
	justify-content: center;
	padding: 20px;
}
body {
	height: 100%;
	margin: 0;
	font-size:24px;
}
.wrap{
	display: flex;
	flex-direction: column;
    height: 100vh;

}
header {
	background-color: #ccc34c;
	height: 20%;
}
.container{
	flex-basis: auto;
	display: flex;
	flex-grow: 1;
}
.main {
	order: 2;
}
.asidebar1, .asidebar2 {
	background-color: #a4c0f3;
	flex-basis: 10%;
}
.asidebar1{
	background-color: #d7a0e7;
	order: 1;
}
.asidebar2 {
	order: 3;
}
footer {
	background-color: #95e086;
	height: 10%;
	flex-grow: 0;
	flex-basis: auto;

}
header{
	justify-content: space-between;
	align-items: center;
}
.list{
	list-style: none;
	margin: 10px;
	padding: 0;
	display: flex;
	justify-content: center;
	font-weight: 500;
	font-size: 20px;
}
li{
	padding: 5px 15px 15px;
	display: inline-block;
}