*,
*:before,
*:after {
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
form {
    width: 50%;
    /* margin: 0 auto; */
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding: 2em;
}
form label:nth-last-child(n+2), button {
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0.5em;

}
form input:nth-last-child(n+3), select, textarea {
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    width: 100%;
    height: 3em;
    background-color:#eeeeee;
    border:none;
    margin-bottom: 1.25em;
    padding: 0 0 0 1em;
}
form p {
    width: 100%;
    color: #f58880;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 800;
    padding: 3em 0 2em 0;
    border-bottom: 1px solid #cacaca;
} 
.header {
    color: #f58880;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}
select {
    background: url('http://www.free-icons-download.net/images/small-down-arrow-icon-15593.png') no-repeat 98%;
	-moz-appearance: none; 
	-webkit-appearance: none; 
    appearance: none;
    background-size:16px 17px;
    background-color: #eeeeee;
} 
textarea {
    resize: none;
    height: 10em;
    padding-top: 1em;
}
.confi-text {
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
}
form button[type="submit"] {
    color: white;
    background-color: #f58880;
    border-radius: 3em;
    border: none;
    position: relative;
    padding: 15px 25px;
}
.button-wrapper {
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    margin-top: 1em;
}
/*Style for Checkbox*/
.confidentiality {
    display: flex ;
    flex-direction: row;
    flex-wrap: nowrap;
}
input[type="checkbox"] {
    display: none;
    visibility: hidden;
    opacity: 0;
}

.confidentiality input[type="checkbox"]:checked + .placeholder:before {
    background-color: #424242;
    border-color: #424242;
    content: "\2713";
    display: flex;
    justify-content: center;
    align-items: center;
    color:#fff;

}
.confidentiality .placeholder {
    cursor:pointer;
    padding-right: 1em;
    margin: 0;
}
.confidentiality .placeholder:before {
    content: "";
    cursor:pointer;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #eeeeee;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}
/* Social button */
.menu {
    width: 50%;
    /* margin:0 auto; */
    
    
}
ul {
    list-style: none;
    width: 200px;
    height: 80px;
}
ul li{
    float: left;
    background-color: #db4439;
    width: 55px;
    height: 55px;
    border: 3px solid #db4439;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    transition: all 0.2s linear;
}
ul li:hover {
    background: #db2619;
    border: 3px solid #db2619;
    box-shadow: 0 0 30px 10px #f8514b;
}
  

