*,
*:before,
*:after {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Dosis;
}
.wrapper {
	display: flex;
	flex-direction: column;
    min-height: 100vh;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title,.button, .text a, .card a {
    font-family: Oswald;
    text-transform: uppercase;
}
.title,.header { 
    color: #7ea2b3;
}
.title {
    font-size: 40px;
    line-height: 50px;
    text-align: center;
}
.card {
    display: flex;
    padding: 3em;
	flex-wrap: nowrap;
	justify-content: center;
}
.image-box {
    left: 40px;
    position: relative;
}
.text {
    left: -40px;
    top: 50px;
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    max-width: 570px;
    max-height: 300px;
    min-width: 250px;
    padding: 70px;
    background-color: #f6fcff;
    box-shadow: -5px 8px 20px 1px #919191;
}   
.header {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
}
.card p {
    color: #6d6d6d;
    font-size: 18px;
    line-height: 24px;
}
.text a {
    text-decoration: none;
    color: white;
    background-color: #97b621;
    border-radius: 3em;
    position: relative;
    padding: 10px 15px;
}
.button {
    border-radius: 3em;
    border: 2px solid #97b621;
    width: 13em;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    top: 40px;
    padding: 10px 15px;
    margin: 3em;
}
.button a {
    text-decoration: none;
    color:#97b621;
    background-color: white;
    position: relative;
}
.triangle {
    top: 2px;
    position: relative;
    border: 10px solid transparent;	border-left: 10px solid #97b621;
}
img {
    display: block;
    max-width: 100%;
    min-width: 250px;
}
.card.inverted {
    display: flex;
    flex-direction: row-reverse;
}
.card.inverted>.text {
    left: 40px;
}
.card.inverted>.image-box {
    left:-40px;
}
.menu {
    background-color: rgb(245, 247, 223);
}
.menu h1 {
    padding: 50px 0 0 10px;
}
.card-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}
.nav-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px 15px 30px 15px;
}
.nav-menu img {
    display: block;
    max-width: 100%;
    min-width: 250px;
}
.nav-menu  a {
    text-transform: uppercase;
    font-size: 13px;
    line-height: 22px;
    text-decoration: none;
    color: white;
    background-color: #97b621;
    border-radius: 3em;
    position: relative;
    padding: 10px 50px;
    box-shadow: -5px 8px 20px 1px #919191;
}

@media (max-width: 1260px) {
    .text {
        padding: 20px;
        left: -50px;
    }
    .image-box {
        left: 50px;
    }
    .card.inverted>.text {
        left: 50px;
    }
    .card.inverted>.image-box {
        left: -50px;
    }
    
}
@media (max-width: 1023px) {
    .card {
        flex-wrap: wrap;
    }
    .text {
        left: 0;
        top: 0;
    }
    .image-box {
        left: 0;
    }
    .card.inverted>.text {
        left: 0;
    }
    .card.inverted>.image-box {
        left: 0;
    }
    
}
@media (max-width: 320px) {
    .text {
        padding: 15px;
    }
    .card {
        padding: 10px;
    }
}
        