body {
	margin: 0;
	font-size:24px;
}
header {
	width: 100%;
	background-color: #ccc34c;
	height: 20%;
}
.container {
	width: 100%;
	display: flex;
	min-height: 65%;
}
.main {
	flex-grow: 1;
	order: 2;
}
.asidebar1, .asidebar2 {
	background-color: #a4c0f3;
	flex-basis: 10%;
}
.asidebar1{
	background-color: #d7a0e7;
	order: 1;
}
.asidebar2 {
	order: 3;
}
header, footer, .asidebar1, .asidebar2, .main {
	text-align:center;
	padding: 20px;
}
footer {
	background-color: #95e086;
	height: 10%;
}